<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="log.file.name" value="server.log" />
    <property name="log.file.name.error" value="server_error.log" />
    <property name="log.file.name.content" value="content.log" />
    <property name="log.file.name.pretty" value="pretty.log" />
    <property name="log.dir" value="./logs" />
    
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy:MM:dd HH:mm:ss.SSS} %-5level --- [%thread] %logger{35} : %msg %n</pattern>
		</encoder>
	</appender>
    
	<appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${log.dir}/${log.file.name}</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <FileNamePattern>${log.dir}/${log.file.name}.%d{yyyy-MM-dd}</FileNamePattern>
            <!-- keep 10 days' worth of history -->
            <maxHistory>180</maxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd/HH:mm:ss.SSS,Asia/Seoul} [%thread] %-5level %logger{36}: %M %L - %msg%n</pattern>
        </encoder>
    </appender>
    
    <appender name="dailyRollingFileAppenderError" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${log.dir}/${log.file.name.error}</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <FileNamePattern>${log.dir}/${log.file.name.error}.%d{yyyy-MM-dd}</FileNamePattern>
            <maxHistory>180</maxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd/HH:mm:ss.SSS,Asia/Seoul} [%thread] %-5level %logger{36}: %M %L - %msg%n</pattern>
        </encoder>
    </appender>
    
	<appender name="dailyRollingFileAppenderContent" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${log.dir}/${log.file.name.content}</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <FileNamePattern>${log.dir}/${log.file.name.content}.%d{yyyy-MM-dd}</FileNamePattern>
            <!-- keep 10 days' worth of history -->
            <maxHistory>180</maxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>
    
	<appender name="dailyRollingFileAppenderPretty" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${log.dir}/${log.file.name.pretty}</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <FileNamePattern>${log.dir}/${log.file.name.pretty}.%d{yyyy-MM-dd}</FileNamePattern>
            <!-- keep 10 days' worth of history -->
            <maxHistory>180</maxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="ContentLogger" level="INFO" additivity="false">
        <appender-ref ref="dailyRollingFileAppenderContent"/>
    </logger>
    
    <logger name="PrettyLogger" level="INFO" additivity="false">
        <appender-ref ref="dailyRollingFileAppenderPretty"/>
    </logger>

	<root level="INFO">
		<!-- <appender-ref ref="CONSOLE" /> -->
		<appender-ref ref="dailyRollingFileAppender"/>
		<appender-ref ref="dailyRollingFileAppenderError"/>
	</root>
    
</configuration>